mixin chart-board() 
  section.pusher
    .ui.top.secondary.pointing.menu
      a.item Humedad y Temperatura Interna
      a.item Humedad y Temperatura Externa
      a.item Niveles de Humo
      a.item Seguridad
    .ui.segment
      .chart-container