mixin chart-board() 
  section.pusher
    h4#selected-hive.ui.dividing.center.aligned.header Selecciona una colmena para vizualizar
    .ui.top.secondary.pointing.menu
      a.item Temperatura Interna
      a.item Humedad Interna
      a.item Niveles de Humo
      a.item Seguridad
    .ui.chart-container
      #chart