include includes/mixins

doctype html
html
  head
    +head("Log in", ["/semantic.css", "/styles/login.min.css"], ["https://code.jquery.com/jquery-3.3.1.min.js", "/semantic.js"])
  body 
    header
      h1.ui.center.aligned.huge.header
        i.yellow.forumbee.icon
        |Bee Analizer
      a(href="/auth/google").ui.inverted.big.red.button
        i.google.plus.icon
        |Ingresar
    script(src="loggin.js")
  