include includes/mixins

html
  head
    +head("Log in", ["/styles/login.min.css", "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"])
 
  body
    header
      h1.title
        |Bee Analizer
    main
        a.btn.log-in-btn(href="/auth/google")
          i.fa.fa-google
          span Log in with Google +
        a.btn.sign-up-btn(href="/auth/google")
          i.fa.fa-google
          span Sign up with Google +
  //-
    footer
      p
        |Coded by
        a(href="") Valentin TT
        <script
  