.User-area {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}

.User-area > .User-avatar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid #6acd7e;
  -webkit-box-shadow: 0px 0px 12px -5px #000;
          box-shadow: 0px 0px 12px -5px #000;
}

.User-area > .User-avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.User-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
          box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 150px;
  margin: 0;
  top: 70px;
  right: -9%;
}

.User-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 7px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
          box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}

.User-Dropdown.U-open {
  display: block;
  z-index: 100;
}

.User-Dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.17);
}

.User-Dropdown > li:last-child {
  border-bottom: 0px;
}

.User-Dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: #6acd7e;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.User-Dropdown span {
  background: #6acd7e;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
}

.User-Dropdown > li:before {
  content: "";
  width: 0px;
  height: 40px;
  position: absolute;
  background: #6acd7e;
  margin-top: 4px;
  border-radius: 0 1px 1px 0;
  left: 0px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.User-Dropdown > li:hover:before {
  width: 5px;
  border-radius: 30px;
}

.User-Dropdown > li a:hover {
  margin-left: 5px;
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "header" "main";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 25px;
  height: 50px;
  -webkit-box-shadow: 3px 3px 3px -3px rgba(214, 214, 214, 0.78);
          box-shadow: 3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}

header .title {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 200%;
}

header .center-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

nav .nav-title {
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 500;
  font-size: 1.5rem;
}

nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #ap-menu {
  margin: 0 15px;
}

nav #add-apiario-btn {
  margin-top: 15px;
  margin-left: 15px;
}

.invisible {
  display: none;
}

.ui.modal {
  padding-bottom: 25px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#input-file-field {
  padding-bottom: 30px;
}

#new-apiary-name, #dropdown-existing-apiary {
  margin-bottom: 15px;
}

.ui.dropdown {
  width: 100%;
}
/*# sourceMappingURL=profile.css.map */